<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Star Wars Quote App</title>
</head>

<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

<body>
  <h1>May Node and Express be with you.</h1>

  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name" />
    <input type="text" placeholder="position/company" name="positionCompany" />
    <input type="text" placeholder="Main Contact" name="contact" />
    <input type="text" placeholder="date contacted" name="lastContacted" />
    <button type="submit">Submit</button>
  </form>

  <h2>Quotes</h2>

  <div>
    <h2>Darth Vader invades!</h2>
    <p>Replace first Yoda's quote with a quote written by Darth Vader</p>
    <button id="update-button">Replace Yoda's quote</button>
  </div>


  <table>
    <tr>
      <th>Company</th>
      <th>position/company</th>
      <th>Main Contact</th>
      <th>date contacted</th>
    </tr>

  </table>
  <table class="quotes" id="myTable">
    <!-- Loop through quotes -->
    <% for(var i=0; i < quotes.length; i++) {%>

      <tr>
        <td class="quote">
          <%= quotes[i].name %>
        </td>

        <td class="quote">
          <%= quotes[i].positionCompany %>
        </td>

        <td class="quote">
          <%= quotes[i].contact %>
        </td>

        <td class="quote">
          <%= quotes[i].lastContacted %>
        </td>

        <td>

          <input type="button" id="delete-button" value="Delete" onclick="deleteRow(this)">
        </td>
      </tr>



      <% } %>


  </table>



  <script>

    // const deleteButton = document.querySelector('#delete-button')

    // deleteButton.addEventListener('click', _ => {
    //   fetch('/quotes', {
    //     method: 'delete',
    //   })
    // })

    function deleteRow(r) {
      var i = r.parentNode.parentNode.rowIndex;
      document.getElementById("myTable").deleteRow(i);
    }

  </script>

  <script src="/main.js"></script>
</body>

</html>